@font-face{
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Regular.ttf') format("truetype");
}
@font-face{
    font-family: 'Lato';
    font-weight: 200;
    src: url('./assets/fonts/Lato/lato-light.ttf') format('truetype');
}
@font-face{
    font-family: 'Rock Salt';
    src: url('./assets/fonts/Rock-Salt/RockSalt-Regular.ttf') format('truetype');
}